{{!-- layouts/base.handlebars --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {{#if title}} {{title}} {{else}} Test Before You Invest in Cryptocurrency - CryptoSim {{/if}}
    </title>
    {{>includes/css}}
    </head>

    <body>
      <input type="hidden" id= "user" value={{user}}>

      
      {{> includes/nav }}
      
{{!--       {{#if userName}} Welcome {{userName}} {{else}} Test Before You Invest in Cryptocurrency - CryptoSim {{/if}} --}}

      {{{body}}}

      <footer>
          {{> includes/footer }}
      </footer>

      {{> includes/scripts }}

    </body>

</html>